@model CurrentWeatherAndForecast

<div class="row">
    <div class="col-md-4">
        <div class="panel-body, bg-primary"><h2>Weather in @Model.forecast.city.name</h2></div>
        <div><p><strong>@DateTime.Now.ToString("dd.MM, HH:mm"), @DateTime.Now.DayOfWeek</strong></p></div>
        <div><img src=@string.Format($"http://openweathermap.org/img/wn/{Model.currentWeather.weather.FirstOrDefault().icon}@2x.png ") /><strong class="text-danger">@Model.currentWeather.weather.FirstOrDefault().description</strong></div>
        <table class="table table-bordered table-condensed table-striped">
            <tr><td>Temperature:</td><td>@string.Format($"{Math.Round(Model.currentWeather.main.temp)}°C")</td></tr>
            <tr><td>Wind:</td><td>Direction: @Model.currentWeather.wind.deg <p>Speed: @Model.currentWeather.wind.speed m/s</p></td></tr>
            <tr><td>Cloudiness:</td><td>@Model.currentWeather.clouds.all %</td></tr>
            <tr><td>Pressure:</td><td>@Model.currentWeather.main.pressure hpa</td></tr>
            <tr><td>Humidity:</td><td>@Model.currentWeather.main.humidity %</td></tr>
            <tr><td>Sunrise:</td><td>@Model.currentWeather.sys.sunriseDate.ToString("HH:mm")</td></tr>
            <tr><td>Sunset:</td><td>@Model.currentWeather.sys.sunsetDate.ToString("HH:mm")</td></tr>
        </table> <br />
        <form asp-action="Index" method="post">
            <div class="form-group">
                <label asp-for="town.Name">Town: </label>
                <input asp-for="town.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="town.Country"></label>
                <input asp-for="town.Country" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-md-6">
        <div class="panel-body, bg-success"><h2>5 day weather forecast</h2></div>
        <table class="table table-bordered, table-condensed table-striped">
            @foreach (var day in Model.forecast.Days)
            {
                <tr>
                    <td><strong class="text-danger">@day.Day.@day.Month</strong></td>
                    @foreach (var list in Model.forecast.list)
                    {
                        @if (day.Date == list.date.Date)
                        {
                            <td><strong>@list.date.ToString("HH:mm")</strong> 
                                <p><img src=@string.Format($"http://openweathermap.org/img/wn/{list.weather.FirstOrDefault().icon}@2x.png ")></p>
                                <p>@string.Format($"{Math.Round(list.main.temp)}°C")</p>
                                <p>Cloudiness: <p>@list.clouds.all %</p></p>
                                <p>Pressure: <p>@list.main.pressure hpa</p></p>
                            </td>
                        }
                    }
                </tr>
            }
        </table>
    </div>
</div>



